body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  color: #141414;
}
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
h2.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  word-break: break-all;
  line-height: 1;
  max-width: 4ch ;
}
@media (max-width:800px) {
  h2.subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    word-break: initial;
    max-width: initial ;
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}